%h2=t '.title'

= form_for resource, as: resource_name, url: session_path(resource_name) do |f|
  .field
    = f.label :login
    = f.text_field :login, autofocus: true

  .field
    = f.label :password
    = f.password_field :password

  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :remember_me

  .actions= f.submit t('.sign_in')

= render 'devise/shared/links'
