= t '.body', moderator: @current_user
= event_url @event
\
= t '.edit_link'
= edit_event_url @event, secret: @event.secret
\
= t '.delete_link'
= cancel_event_url @event, secret: @event.secret
\
- if @event.repeat > 0 && !@event.event_id
  = t '.repeat_helper', count: @event.repeat
  - @event.events.each do |e|
    = e
    = edit_event_url e, secret: e.secret
    = cancel_event_url e, secret: e.secret
\
= render file: '/events/show'
\
= t '.signature'
