img.favicon
  max-height: 2em
  border-radius: 3px
  vertical-align: middle

form#orga_search
  right: 5%
  width: 12em
  position: absolute
  font-size: larger
  text-align: right
  margin-top: -1.2em
  white-space: nowrap
  padding-right: 2px
  label
    display: none
  em.fa
    color: #258
  input
    border: solid thin #258
    margin-left: -1.5em
    margin-right: -1.6em
    padding-left: 1.5em
    padding-right: 1.2em
    background-color: transparent

  button.search
    color: #258
    border: none
    padding: 0
    box-shadow: none
    margin-top: -0.1em
    margin-left: 0
    vertical-align: middle
    background-color: transparent
    &:hover em.fa
      color: #2E97FF
    span.label
      display: none

body.orgas.show main
  fieldset.orga
    min-width: 60em
  dl, iframe, fieldset
    display: inline-block
    min-width: 30em
    vertical-align: top

table tr.inactive
  color: gray
