// Tag list in event display
p.tags a:after
  color: black
  content: ','
p.tags a:last-child:after
  content: ''

.tag
  vertical-align: middle
  &.size_1
    font-size: 60%
    letter-spacing: -1px
  &.size_2
    font-size: 80%
    letter-spacing: -1px
  &.size_3
    font-size: 100%
  &.size_4
    font-size: 120%
  &.size_5
    font-size: 180%
  &.size_6
    font-size: 200%
  &.size_7
    font-size: 220%
  &.size_8
    font-size: 240%
